* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Proxima Nova";
    src: url(/fonts/ProximaNova-Regular.ttf);
}
.box {
    width: 1820px;
    height: 723px;
    margin: 50px 50px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img {
    width: 264px;
    height: 211px;
    background-color: white;
}
h1 {
    padding-bottom: 100px;
    font-family: "Proxima Nova";
    font-size: 36px;
    line-height: 1.2;
    font-weight: 400;
    color: #000000;
}
.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
span{
    display: block;
    padding:20px 0 10px 0;
    font-family: "Proxima Nova";
    font-size: 16px;
    line-height: 1.2;
    font-weight: 300;
    color: #000000;
}
strong{
    display: block;
    font-family: "Proxima Nova";
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    color: #000000;
}
.buttons {
    font-family: "Proxima Nova";
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    background: transparent;
    color: #23bac1;
    width: 200px;
    height: 55px;
    border: 1px solid #23bac1;
    margin-top: 30px;
    cursor: pointer;
}
