* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "MyriadPro-Regular";
    src: url(/fonts/MyriadPro-Regular.ttf);
}
.container {
    max-width: 1140px;
    width: 100%;
    margin: auto;
}
.block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.book {
    margin-top: 74px;
}
h1 {
    margin-top: 137px;
    font-size: 48px;
}
.text-block {
    display: flex;
    flex-direction: column;
    max-width: 527px;
    width: 100%;
    font-family: "MyriadPro-Regular";
    margin-right: 125px;
}
h2 {
    margin-top: 15px;
    font-size: 30px;
}
span {
    max-width: 510px;
    width: 100%;
    margin-top: 35px;
    font-size: 18px;
}
strong {
    margin-top: 47px;
    font-size: 48px;
}
.block-buttons {
    display: flex;
    height: 68px;
    font-size: 24px;
    margin-top: 52px;
}
.button-primary {
    width: 176px;
    color: #ffffff;
    background: #F05A22;
    border-radius: 4px;
    border:none;
    cursor: pointer;
}
.button-secondary {
    width: 288px;
    color: #F05A22;
    background: transparent;
    border-radius: 4px;
    border: 2px solid #F05A22;
    margin-left: 39px;
    cursor: pointer;
}
.section {
    max-width: 100%;
    width: 100%;
    background: rgba(206, 206, 206, 0.4);
    padding-bottom: 90px;
}
h3 {
    display: flex;
    justify-content: center;
    font-family: "MyriadPro-Regular";
    font-size: 30px;
    padding-top: 90px;
}
.block-desc {
    max-width: 1140px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 90px;
    text-align: center;
}
.img {
    max-width: 59px;
    margin-bottom: 22px;
}
